.container{
  max-width: 335px;
  margin: 0 auto;
  background: #fff;
  min-height: 900px;
  padding: 0 20px;
}

.row{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  &.x-center {
    justify-content: center;
  }
  &.y-center {
    align-items: center;
  }
  &.x-between{
    justify-content: space-between;
  }
}