//global
@import 'reset';
@import 'variables';
@import 'grid';

//componentes
@import 'components/nav';
@import 'components/picture';
@import 'components/sections';
@import 'components/radio_button';
@import 'components/buttons';
@import 'components/modal';

body {
  background: #fff;
  color: $text-normal-color;
  font-family: $font-family;
}

.hide{
  display: none;
}