.enjoei-modal-header-class{
  .enjoei-modal-title-class {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.enjoei-modal-content-class {
  #swal2-content {
    font-size: 14px;
    line-height: 24px;
  }
}