section{
  margin-top: 37px;
  h1{
    font-weight: 800;
    color: $text-bold-color;
  }

  .item-detail {
    margin-top: 27px;
    font-size: 14px;
  }
}

.accent-text{
  color: $accent-color;
}
.bold-text{
  font-weight: bold;
}